<label for="entryId">
	<f:translate key="tx_commentsbase_domain_model_comment.entry_id" />
</label><br />
	<f:form.textfield property="entryId" /><br />
<label for="text">
	<f:translate key="tx_commentsbase_domain_model_comment.text" />
</label><br />
	<f:form.textarea property="text" cols="40" rows="15" /><br />
<label for="authorName">
	<f:translate key="tx_commentsbase_domain_model_comment.author_name" />
</label><br />
	<f:form.textfield property="authorName" /><br />
<label for="authorEmail">
	<f:translate key="tx_commentsbase_domain_model_comment.author_email" />
</label><br />
	<f:form.textfield property="authorEmail" /><br />
<label for="authorUrl">
	<f:translate key="tx_commentsbase_domain_model_comment.author_url" />
</label><br />
	<f:form.textfield property="authorUrl" /><br />